:root {

  /* ===========================
     COLORS
  =========================== */

  --color-background: #060816;
  --color-surface: #101626;
  --color-surface-hover: #18213a;

  --color-text: #F8FAFC;
  --color-text-secondary: #A1A9C2;

  --color-primary: #8B5CF6;

  --color-border: #27324d;

  --color-success: #22C55E;
  --color-danger: #EF4444;

  /* ===========================
     TYPOGRAPHY
  =========================== */

  --font-family: "Inter", sans-serif;

  --font-size-xs: .875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3.5rem;

  /* ===========================
     SPACING
  =========================== */

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 4rem;
  --space-6: 6rem;

  /* ===========================
     BORDER RADIUS
  =========================== */

  --radius-sm: .5rem;
  --radius-md: .75rem;
  --radius-lg: 1rem;

  /* ===========================
     LAYOUT
  =========================== */

  --container: 1200px;

  /* ===========================
     TRANSITIONS
  =========================== */

  --transition: .3s ease;

}