:root {
  /* ===========================
     COLORS
  =========================== */

  --color-background: #101210;
  --color-surface: #171a18;
  --color-surface-hover: #202420;

  --color-text: #f2f1ec;
  --color-text-secondary: #a7aca5;

  --color-primary: #a8c5ad;

  --color-border: #303630;

  --color-success: #22c55e;
  --color-danger: #ef4444;

  /* ===========================
     TYPOGRAPHY
  =========================== */

  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-mono: "IBM Plex Mono", monospace;

  --font-size-xs: .875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3.5rem;

  /* ===========================
     SPACING
  =========================== */

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 4rem;
  --space-6: 6rem;

  /* ===========================
     BORDER RADIUS
  =========================== */

  --radius-sm: .25rem;
  --radius-md: .375rem;
  --radius-lg: .5rem;

  /* ===========================
     LAYOUT
  =========================== */

  --container: 1160px;

  /* ===========================
     TRANSITIONS
  =========================== */

  --transition: .3s ease;
}
