.button{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:.9rem 1.8rem;

    border-radius:.75rem;

    background:var(--color-primary);
    color:white;

    font-weight:600;

    transition:var(--transition);

}

.button:hover{

    transform:translateY(-2px);

    opacity:.9;

}